Can't create, edit, or upload … You don't have enough storage to create, edit, and upload files. Get 100 GB of storage for Rp 26.900,00 Rp 7.000,00/month for 3 months.
  @import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(242, 255, 233, 0.8),rgba(212, 167, 255, 0.2)) , url(https://wallpapercave.com/wp/wp5025871.jpg);
    
    background-size: cover;
    font-family: 'Poppins',sans-serif;
}

nav{
    width: 100%;
    height: 100px;
  
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
    padding:10px;
}
.logo img{
    height:50px;
}
.menu a{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    text-align: end;
}
.menu a:hover{
   border: 1px solid blue;
   background: transparent;
}
.wording h2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.container td{
    color:white;
}
.container{
    align-items: end;
}





